<div class="dashboard">
  <header>
    <img class="logo" src="img/logo.png">
  </header>

  <button class="logout">Logout</button>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 no-pad d-none d-sm-block">
        <div class="dashboard-banner"></div>
      </div>
      <div class="col-md-7 header-right">
        <h1>Admissions Office</h1>
        <h2>APPLICANT
          <span>INTERVIEW PORTAL</span>
        </h2>
        <nav>
          <ul>
            <li>
              <a href="#">Interview Set Up</a>
            </li>
            <li>
              <a href="#">Interview Info</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="container main-content">
    <div class="row">
      <div class="col-md-12 text-center greeting">
        Hello, Joe Smith!
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 introduction">
        <p>
          <b>WELCOME TO EINSTEIN</b>
        </p>
        <p>We’ve prepared this
          <b>Personal Interview Welcome</b> site just for you.</p>
        <p>This one-stop site will help you as you plan your visit, and give you all the information you need for your day at
          Einstein/ Montefiore. You will find maps, campus information, videos and your personal interview itinerary.</p>
        <p>We’ve also included some of the accomplishments and unique highlights of Albert Einstein College Medicine.</p>
        <p>To begin, please take a look at the brochure that we’ve designed for you, the
          <a href="#">MD Applicant Guide</a>; it will give you lots of material for questions when you visit us.</p>
        <p>The Admissions Offce Team is looking forward to meeting you, and welcoming you.</p>
        <p>Safe travels!
          <span class="signature">Noreen Kerrigan, M.P.A.</span>
          Associate Dean for Student Admissions
        </p>
        <button class="large-button">View interview info</button>
      </div>
      <div class="col-md-5 videos">
        <div class="video">
          <div class="embed-container">
            <iframe src="https://www.youtube.com/embed/mzgHTIOlJiU" frameborder="0" allowfullscreen></iframe>
          </div>
          Title Place Holder
        </div>
        <div class="video">
          <div class="embed-container">
            <iframe src="https://www.youtube.com/embed/mzgHTIOlJiU" frameborder="0" allowfullscreen></iframe>
          </div>
          Title Place Holder
        </div>

      </div>
    </div>
  </div>

  <div class="interview-package-outer">
    <div class="container interview-package">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="interview-package-heading">Interview Package</h3>
        </div>
      </div>

      <div class="row questions">
        <div class="col-md-7 questions-column">
          <div class="question-heading">Before Interview Day</div>

          <div class="questions-inner">
            <a class="question" data-toggle="collapse" href="#q1a" role="button" aria-expanded="false" aria-controls="q1a">
              Directions to Einstein
            </a>
            <div class="collapse answer" id="q1a">
              See
              <a href="http://www.einstein.yu.edu/visitors/" target="_blank">travel directions</a>. You can get to the campus by driving,
              <a href="http://www.mta.info/nyct/maps/submap.htm" target="_blank">subway</a>, or bus from Manhattan, or cab, or by
              <a href="http://www.panynj.gov/Airtrain/" target="_blank">Airtrain</a> from Newark or JFK airports. (LaGuardia is the closest airport.) We suggest however, that if you
              take the Airtrain from JFK, that at Jamaica Station, you take the E subway to the Lexington Ave/53 Street stop.
              At Lexington Ave/53 Street, transfer to the “6” train (through the 51 Street Station) and egress at Westchester
              Square. From there, take the #31 or #21 bus to Eastchester Road and Morris Park Avenue. The
              <a href="http://www.mta.info/busco/schedules/bxm10cur.pdf" target="_blank">#10 express bus</a> (BXM10) from Manhattan stops in front of the Belfer Building. For travel by express bus,
              please be sure to get a
              <a href="http://www.mta.info/metrocard/zipmaps.htm" target="_blank">Metrocard</a> when you arrive in NY, or have $6.50 in quarters available; NYC buses do not accept paper money.
              Cabs to the College from the airport can be costly, so please be prepared. Also, please be sure that you take
              a yellow city cab, not a private cab, unless you’ve called for a private cab in advance or Uber. The day of
              your interview, you can ask Mary Pace if there are other applicants going back to the airport. If you decide
              that you would like to drive, there are two options. Einstein is a
              <a href="http://www.einstein.yu.edu/campus/zip-cars.asp" target="_blank">Zipcar</a> site, and
              <a href="http://www.enterprise.com/car_rental/deeplinkmap.do?bid=019&cnty=US&language=en&arc=GBCO01K&cm_mmc=google-_-brand-_-brand_gen-_-enterprise%20rental"
                target="_blank">Enterprise</a> offers a discounted Einstein rate for the day if you use the code F22547 when you book your
              reservation. You are liable for insurance. Einstein/Yeshiva University is not responsible for accidents or
              damage to vehicles; you would be completely responsible. You must show a photo ID, and inform Enterprise beforehand
              that it will not be a YU/Einstein ID. If spaces are available, you may park in the Quik Park Garage that is
              one block from the Belfer Building, telephone: 718-430-7021 for not more than $12 per day. Hours are 6:30 a.m.
              to 8:00 p.m. Also, there is a 24-hour Einstein hospital parking lot on Sacket Avenue on Eastchester Road, opposite
              the Weiler Hospital, a short walk to the Belfer Building. For the location of both, see the
              <a href="http://www.einstein.yu.edu/visitors/campus-map.asp" target="_blank">campus map</a>.
            </div>
            <a class="question" data-toggle="collapse" href="#q1b" role="button" aria-expanded="false" aria-controls="q1b">
              Hotel Accommodations
            </a>
            <div class="collapse answer" id="q1b">
              The
              <a href="http://www.marriott.com/hotels/travel/nycbx-residence-inn-new-york-the-bronx-at-metro-center-atrium/" target="_blank">Residence Inn Marriott</a> at the Metro Center Atrium right across the street from Einstein is new and beautiful,
              and each suite features a separate living and work area and a full kitchen. The corporate booking code to access
              discounted rates is YUJ. This code can be entered on the hotel website (
              <a href="http://www.marriott.com/nycbx" target="_blank">www.marriott.com/nycbx</a>) when searching for dates. In addition to booking online with the code, the discount
              is available when making reservations over the phone. All that you need to mention is “Albert Einstein” or
              “Yeshiva University” when speaking to a reservation agent. If you’re staying in Manhattan, please see
              <a href="https://www.einstein.yu.edu/visitors/" target="_blank">https://www.einstein.yu.edu/visitors/</a> (Look under Relevant Links for Hotel – lower right of page)
            </div>
            <a class="question" data-toggle="collapse" href="#q1c" role="button" aria-expanded="false" aria-controls="q1c">
              Connect with a Special Student Group or Representative
            </a>
            <div class="collapse answer" id="q1c">
              Please see our list of
              <a href="http://www.einstein.yu.edu/education/student-affairs/student-activities/involvement/clubs/" target="_blank">student clubs</a> and activities. Students interested in connecting with the LGBTQ community can contact student
              liaison and President of Einstein Pride, Wesley Thorne at
              <a href="mailto:wthorne@mail.einstein.yu.edu">wthorne@mail.einstein.yu.edu</a> Students interested in speaking with members of the Student National Medical
              Association (SNMA) or the Latino Medical Student Association (LMSA) or the Muslim Students Association can
              contact the respective associations at: SNMA email:
              <a href="mailto:snma@einstein.yu.edu">snma@einstein.yu.edu</a>; LMSA email:
              <a href="mailto:lmsa.aecom@gmail.com">lmsa.aecom@gmail.com</a> ; the Einstein Muslim Student Association (MSA):
              <a href="mailto:aecom.msa@gmail.com">aecom.msa@gmail.com</a>
            </div>
            <a class="question" data-toggle="collapse" href="#q1d" role="button" aria-expanded="false" aria-controls="q1d">
              Friday Afternoon Discussion Group Hosted by the Office of Diversity Enhancement
            </a>
            <div class="collapse answer" id="q1d">
              <a href="#" data-toggle="modal" data-target="#modal">Click to watch a video</a>
              <br> Beginning with September 21, on FRIDAY afternoons at 2:30, the student representatives of Latinx Medical Student
              Association (
              <a href="https://lmsa.site-ym.com/?Mission" target="_blank">LMSA</a>) and the Student National Medical Association (
              <a href="http://www.snma.org/index.php?pID=258" target="_blank">SNMA</a>), the Muslim Students Association (MSA), and PRIDE (LGBTQI) invite all visiting applicants to a student-led
              discussion, sponsored by the O ce of Diversity Enhancement, about their experiences and passions here at Einstein.
              It’s an opportunity to get “real talk” about unique experiences of students in an informal and candid environment.
              If you would like to join the discussion, please do the following:
              <ul>
                <li>Select a Friday, morning interview (or join us when you can if you’re in the area). The Friday dates that
                  there will not be interviews, or discussion groups are: November 23, December 21, December 28, April 19
                  and April 26.
                </li>
                <li>RSVP at
                  <a href="https://goo.gl/forms/ZPCTg8GDPnHc6HaG3" target="_blank">GOOGLE forms</a>
                </li>
                <li>Indicate your particular interest group (LMSA, SNMA, MSA, PRIDE) or ALL. The discussion takes place at 2:30
                  and usually lasts about one hour. The location is the Price Center, across the street from the Admissions
                  Office. Please leave yourself enough travel time.</li>
              </ul>
              Also, if you would like to meet with a member of the Office of Diversity Enhancement on the day of your interview, please
              email Ms. Madeline Ebanks at
              <a href="mailto:madeline.ebanks@einstein.yu.edu">madeline.ebanks@einstein.yu.edu</a>

              <!-- Modal -->
              <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">

                    <div class="embed-container">
                      <iframe src="https://www.youtube.com/embed/mzgHTIOlJiU" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>

            </div>
            <a class="question" data-toggle="collapse" href="#q1e" role="button" aria-expanded="false" aria-controls="q1e">
              Campus Maps – East and West Campus
            </a>
            <div class="collapse answer" id="q1e">
              <a href="pdfs/East-Map-Einstein-2018_Affiliates.pdf" target="_blank">East Campus</a>
              <br>
              <a href="pdfs/West-Map-mmc.pdf" target="_blank">West Campus</a>
              <br>
            </div>
            <a class="question" data-toggle="collapse" href="#q1f" role="button" aria-expanded="false" aria-controls="q1f">
              Special Needs and Guests
            </a>
            <div class="collapse answer" id="q1f">
              We would like to refer you again to our website for information about the interview process, or any special needs you may
              have. You might enjoy visiting our students’ website for more information on life at Einstein, and in the Bronx.
            </div>
            <a class="question" data-toggle="collapse" href="#q1g" role="button" aria-expanded="false" aria-controls="q1g">
              Student Finance Office
            </a>
            <div class="collapse answer" id="q1g">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica,
              craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
        <div class="col-md-5 questions-column">
          <div class="question-heading">On Interview Day</div>

          <div class="questions-inner">
            <a class="question" data-toggle="collapse" href="#q2a" role="button" aria-expanded="false" aria-controls="q2a">
              Check-In
            </a>
            <div class="collapse answer" id="q2a">
              If your interview is off-campus, and in the morning, you may opt to travel DIRECTLY there, and not check-in first in the
              Admissions Office. A few days before your interview, we will send you specific instructions on how to get there.
              You need only email us back your travel/check-in preference. We suggest you take public transportation when
              traveling off-campus (
              <a href="http://www.montefiore.org/documents/prof/Map_Printed_v3.pdf" target="_blank">Montefiore Hospital</a>) because parking can be difficult. If you prefer, you can check in at the Admissions
              Office first on the Einstein campus so that you can park your car here and take the shuttle from here to your
              interview. Whatever you decide, an Einstein shuttle bus (marked Allways Transportation) will be available to
              pick you up when your interview is over, and return you to the College for the luncheon and tour which occurs
              around noon. Your one-way/return shuttle bus pass will be sent to you via email once you confirm your check-in
              preference to
              <a href="mailto:mary.pace@einstein.yu.edu">mary.pace@einstein.yu.edu</a> a few days before you arrive. Please be sure to have your shuttle bus pass with
              you or you may not be allowed on the shuttle. Applicants who have an off-campus interview in the afternoon
              may depart the College directly from the interview. If you decide to come rst to the College in the morning,
              please check in at the Belfer Building on the corner of Morris Park Avenue and Eastchester Road, Room 206 on
              the second floor (directly opposite the elevator to the right). When you enter the building, please give the
              security guard your name and explain that you are going to the Admissions Office on the second floor.
            </div>
            <a class="question" data-toggle="collapse" href="#q2b" role="button" aria-expanded="false" aria-controls="q2b">
              Office Campus Interviews
            </a>
            <div class="collapse answer" id="q2b">
              Although most interviews occur on this campus, from time to time, some faculty members prefer to interview at their off-campus
              location. If so, you will be notified a few days in advance. We haven’t lost an applicant yet, so please do
              not be concerned if your interviewer is located elsewhere! Many applicants prefer the off-campus interview
              to have the opportunity to see one of our major clinical a liates,
              <a href="http://www.montefiore.org/" target="_blank">Montefiore Hospital</a> (
              <a href="http://www.montefiore.org/documents/map%20of%20mmc.pdf" target="_blank">map</a>).
            </div>
            <a class="question" href="pdfs/SHUTTLE-SCHEDULE-Updated-JAN2018PDF.pdf" target="_blank">
              Shuttle Schedule
            </a>

            <a class="question" data-toggle="collapse" href="#q2d" role="button" aria-expanded="false" aria-controls="q2d">
              Luncheon and Tour with Einstein Students
            </a>
            <div class="collapse answer" id="q2d">
              Our first- and second-year students will be your hosts for lunch, sometime around noon (we can let you know the exact time
              on that day or the day before; just contact
              <a href="mailto:bridget.sweeney@einstein.yu.edu">bridget.sweeney@einstein.yu.edu</a>. The luncheon is in the Upper Max and Sadie Lounge in the Forchheimer Building.
              They will meet you at the second-floor waiting area next to the Admissions Office. You might have some down
              time to relax, so please bring some good reading material. We do have lots of things for you to do however.
              You can join our students for a first- or second-year lecture; they are always happy to talk with applicants,
              so please give serious thought to joining them in class. Mary Pace will be happy to provide you with the class
              schedule once you arrive.
            </div>
            <a class="question" href="pdfs/ten-minute-tour.pdf" target="_blank">
              Self-Guided 10 minute Walking Tour
            </a>

            <a class="question" data-toggle="collapse" href="#q2f" role="button" aria-expanded="false" aria-controls="q2f">
              Changing Room
            </a>
            <div class="collapse answer" id="q2f">

              First, in order to make your travel to and from the College easier, we have a special changing room (that accommodates one
              person at-a-time) that applicants may use to get ready for the interview, and / or to use when you leave, so
              the trip back can be more comfortable. If you decide to avail yourself of this accommodation, please allow
              extra time. Your greeter, Ms. Mary Pace, will direct you to the changing room.
            </div>
            <a class="question" data-toggle="collapse" href="#q2g" role="button" aria-expanded="false" aria-controls="q2g">
              Snacks
            </a>
            <div class="collapse answer" id="q2g">
              We will have coffee, tea, water and a variety of snacks waiting for you throughout the day. If you have a morning interview,
              your day will conclude around 2:00 p.m.; afternoon interviews conclude around 5:00 p.m. Please keep this in
              mind when making your travel plans.
            </div>
            <a class="question" data-toggle="collapse" href="#q2h" role="button" aria-expanded="false" aria-controls="q2h">
              Wi-fi Access
            </a>
            <div class="collapse answer" id="q2h">
              You can bring your laptop with you. Einstein has wireless Internet access but you must have WI-FI wireless networking capability.
              When you arrive, you may log in to YU GUEST.
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row questions-columns interview-links">
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-6 questions-inner">
              <h4>Contact Info</h4>
              <span>Mary Pace</span>
              <span>Phone: 718.430.3014</span>
              <a href="https://www.einstein.yu.edu/education/md-program/admissions/" target="_blank">Admissions Office Website</a>
            </div>
            <div class="col-md-6 questions-inner">
              <h4>About Einstein</h4>
              <a href="http://www.einstein.yu.edu/about/" target="_blank">Fact Sheet</a>
              <a href="pdfs/housing2018.pdf" target="_blank">Student Housing</a>
            </div>
          </div>
        </div>
        <div class="col-md-5 questions-inner">
          <h4>Special Programs</h4>
          <a href="https://www.einstein.yu.edu/education/md-program/medical-student-research/" target="_blank">Medical Student Research Opportunities</a>
          <a href="https://www.einstein.yu.edu/centers/global-health/" target="_blank">Global Health Fellowship</a>
          <a href="https://www.einstein.yu.edu/education/student-affairs/student-wellness-wellmed/" target="_blank">WellMed</a>
          <a href="https://www.einstein.yu.edu/education/student-affairs/academic-support-counseling/" target="_blank">Academic Support and Counseling</a>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <img src="img/footer-logo.jpg" class="img-fluid">
        </div>
        <div class="col-md-5">
          Albert Einstein College of Medicine
          <br> 1300 Morris Park Avenue
          <br> Belfer Building, Room 206
          <br> Bronx, NY 10461
        </div>
      </div>
    </div>
  </footer>

</div>